brotlipy
ConfigParser
cryptography
Cython
dl
docutils
gTTS
HTMLParser
importlib_metadata
ipython
keyring
lockfile
lxml
nltk
numpy
ordereddict
protobuf
pyOpenSSL
pywin32
streamlit==1.24.1
tensorflow
toml
tornado
xmlrpclib
zipp
